{# src/Blogger/BlogBundle/Resources/public/views/Comment/form.html.twig #}

<form action="{{ path('blogger_blog_comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post" class="blogger">
	{{ form_widget(form, {'attr': {'class': 'foo'}}) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
